@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

li, a, button {
    font-family: "Montserrat";
    text-decoration: none;
    color: black;
}



header {
    
    
    margin-bottom: 75px;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    width: 100%;
    background-color: rgb(243, 228, 215);
    
}

header img{
    margin-bottom: 15px;
}

.logo {
    font-family: "Montserrat";
    cursor: pointer;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color:gray;
}

button {
    padding: 9px 25px;
    background-color: blueviolet;
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    color: rgb(243, 228, 215);
}

button:hover {
    background-color: grey;
}

#title {
    
    
    width: 400px;
    color: rgb(204, 135, 74);
    text-align: center;
    padding: 10px 15px;
    border-radius: 10px;
    
    font-size: 48px;
    font-family: "Josefin sans";
    margin-bottom: -90px;
}

body{
    background-color: #66ffc2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}



.container{
    
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

.container .box{
    background-color: rgb(243, 228, 215);
    border: 1px solid black;
    position: relative;
    height: 350px;
    box-shadow: 0 30px 30px rgba(0,0,0,0.4);
    overflow: hidden; 
    border-radius: 10px;
    text-align: center;
}

.container .box::before{
    position: absolute;
    content: "";
    top: 99%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(204, 135, 74);
    
    transition: 0.5s;
}

.container .box:hover::before{
    top: 50% 
}

.container .box .imgbox{
    width: 100%;
    height: 50%;
}

.container .box .imgbox img{
    width:100%;
    height: 100%;
    object-fit: cover;
}

.container .box h1{
    margin-top: 10px;
    font-family: "Josefin sans";
    font-size: 24px;
    position: relative;
}

.container .box p{
    margin-top: 10px;
    font-family: "Josefin sans";
    font-size: 18px;
    position: relative;
}

.container{
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}

.footer {
    background-color: rgb(243, 228, 215) ;
    
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
}



